extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Главная страница
block page

    section.intro 
        .intro__slider.swiper
            .intro__wrapper.swiper-wrapper

                - var count = [1, 2, 3]

                each num in count

                    .intro__slide.swiper-slide
                        .intro__bg
                            +pictureNew('intro/intro_bg', 'jpg', '', 1920, 1488, 1156, 1920, 945, 'intro__pic_wide')
                            +pictureNew('intro/intro_bg_mobile', 'jpg', '', 750, 653, 480, 700, 375, 'intro__pic_mobile')
                        .intro__content
                            .container.intro__container
                                h1.intro__title ООО Кубанские хлебцы
                                p.intro__subtitle Вкусная польза с заботой о здоровье
                                p.intro__text Наши хлебцы изготовлены из натуральных компонентов, не вредят окружающей среде и очень хрустящие!

            .intro__paggination.swiper-pagination


    section.production 
        .container 
            h2.production__title.block__title Продукция

            p.production__subtitle.block__subtitle
                span Каждый найдет, что-то для
                span себя на #[span.line_bg каждый день!]

            p.production__descr.block__descr Наша компания началась с идеи создать здоровый продукт. И нам удалось воплотить ее в жизнь! Мы производим линейки хлебцев: Традиционная, Лайт, ФитнесЛайн, Бородинские

            .production__wrapper 
                article.production__item.production__item1
                    h3.production__name 
                        span Хлебцы
                        span классические
                    +picture('production/production_1', 'jpg', 'x2')

                article.production__item.production__item2
                    h3.production__name 
                        span Хлебцы

                        span цельнозерновые
                    +picture('production/production_2', 'jpg', 'x2')

                article.production__item.production__item3
                    h3.production__name 
                        span Хлебцы 
                        span “Идеальная формула”
                    +picture('production/production_3', 'jpg', 'x2')

                article.production__item.production__item4
                    h3.production__name 
                        span Хлебцы
                        span фруктовые
                    +picture('production/production_4', 'jpg', 'x2')

                article.production__item.production__item5
                    h3.production__name 
                        span Хлебцы
                        span безглютеновые
                    +picture('production/production_5', 'jpg', 'x2')

                article.production__item.production__item6
                    h3.production__name 
                        span Сухие завтраки
                    +picture('production/production_6', 'jpg', 'x2')

                article.production__item.production__item7
                    h3.production__name 
                        span Отруби
                    +picture('production/production_7', 'jpg', 'x2')

            button.btn.production__show_more(type="button") Вся продукция


    section.about
        .about__bg
            +pictureNew('about/about_bg', 'jpg', '', 1920, 1632, 1131, 1920, 1077, 'about__pic_wide')
            +pictureNew('about/about_bg_mobile', 'jpg', '', 750, 637, 480, 375, 982, 'about__pic_mobile')

        .about__content
            .container
                h2.about__title.block__title О компании

                p.about__subtitle.block__subtitle
                    span Расскажем о нашей
                    span компании

                .about__descr.block__descr
                    p Компания «Кубанские хлебцы» образована в 2009 г. и стремительно развивается по сей день. Наша продукция представлена во всех регионах России.
                    p Миссия нашей компании:«Приобщая людей к здоровому питанию, мы стремимся к тому, чтобы будущее поколение было поколением здоровых людей». Компания «Кубанские хлебцы» является производителем экструзивных хлебцев из натурального сырья без применения искусственных добавок и генетически модифицированных продуктов.

                button.btn.about__show_more(type="button")
                    span Подробнее
                    span Подробнее о компании


    .block_overflow_x
        section.recipes
            .container 
                h2.recipes__title.block__title Рецепты

                p.recipes__subtitle.block__subtitle
                    span Удивляйте себя #[span.line_bg каждый день]
                    span новыми вкусовыми сочетаниями!

                p.recipes__descr.block__descr Мы собрали множество рецептов основаных на нашей продукции на каждый день! Ищите рецепты, выбирая категорию блюда, отбирая в дополнительных фильтрах по нужному (или ненужному) ингредиенту


                .recipes__wrapper 
                    .recipes__buttons
                        button.recipes_btn.btn_label.btn_blue(type="button") Классические
                        button.recipes_btn.btn_label.btn_green(type="button") Вегетарианские
                        button.recipes_btn.btn_label.btn_orange(type="button") Десертные

                -
                    var recipes_data = [
                        {
                            labelClassName: 'label_green',
                            labelName: 'Вегетарианские',
                            imgUrl: 'recipes/recipes_1'
                        },
                        {
                            labelClassName: 'label_blue',
                            labelName: 'Классические',
                            imgUrl: 'recipes/recipes_2'
                        },
                        {
                            labelClassName: 'label_orange',
                            labelName: 'Десертные',
                            imgUrl: 'recipes/recipes_3'
                        }
                    ]

                .recipes__list

                    each item in recipes_data

                        article.recepies__item 
                            .recipes__pic 
                                .label.recipes__label(class= item.labelClassName)= item.labelName
                                +picture(item.imgUrl, 'jpg', 'x2')

                            .recipes__info
                                .recipes__time 
                                    .recipes__icon
                                        img(src="./images/time.svg" alt="")
                                    span.recipes__value 20 минут
                                .recipes__level
                                    .recipes__icon
                                        img(src="./images/hat.svg" alt="")
                                    span.recipes__value Средняя сложность

                            h3.recipes__name Хлебцы с рикоттой, клубничным вареньем и клубникой

                            a.btn.recipes__show_more(href="#") Подробнее

                a.btn.recipes__all(href="#") Больше рецептов


        section.where_to_buy
            .where_to_buy__bg
                img(src="./images/where_to_buy/where_to_buy_bg.png" alt="")


            .container

                h2.where_to_buy__title.block__title Где купить

                p.where_to_buy__subtitle.block__subtitle
                    span Выбирайте, где вам 
                    span #[span.line_bg удобно] покупать

                .where_to_buy__wrapper

                    .where_to_buy__item 
                        img(src="./images/where_to_buy/logo_1.svg" alt="Озон")

                    .where_to_buy__item 
                        img(src="./images/where_to_buy/logo_2.svg" alt="Пятёрочка")

                    .where_to_buy__item 
                        img(src="./images/where_to_buy/logo_3.svg" alt="Табрис")

                    .where_to_buy__item 
                        img(src="./images/where_to_buy/logo_4.png" alt="Окей")

                    .where_to_buy__item 
                        img(src="./images/where_to_buy/logo_5.png" alt="FixPrice")

                    .where_to_buy__item 
                        img(src="./images/where_to_buy/logo_6.png" alt="Светофор")



    section.news
        .news__bg
            img(src="./images/news/news_bg.png" alt="")


        .container
            h2.news__title.block__subtitle Новости

            .news__filter
                button.news__btn.active(type="button") Все
                button.news__btn(type="button") 2007
                button.news__btn(type="button") 2008
                button.news__btn(type="button") 2009
                button.news__btn(type="button") 2010

            .news__wrapper

                -
                    var news_data = [
                        {
                            labelName: 'Десерт',
                            imgUrl: 'news/news_1'
                        },
                        {
                            labelClassName: 'label_blue',
                            imgUrl: 'news/news_2'
                        },
                        {
                            labelName: 'Десерт',
                            imgUrl: 'news/news_3'
                        }
                    ]

                .news__list

                    each item in news_data

                        article.recepies__item 
                            .news__pic
                                if item.labelName
                                    .news__label= item.labelName
                                +picture(item.imgUrl, 'jpg', 'x2')

                            time.news__time(datetime="2023-05-20T09:40") 20 мая 09:40

                            h3.news__name Здоровый BATTLE" Наталья Зубарева VS Саша Зверева

                            p.news__text Не для кого не секрет, что наша компания ООО "Кубанские Хлебцы" со всей ответственностью подходит к своему делу гарантирует качество в каждой упаковке.

                            a.btn.news__show_more(href="#") Подробнее

                a.btn.news__all(href="#") Больше новостей



    include ./blocks/_feedback










