extends base/_layout
block vars
    - var pageName = 'news-item-page'
block head
    title Новость
block page

    section.news_item
        .container
            .news_item__container

                p.news_item__label.label_orange_light Производство

                h1.news_item__title 
                    span Диетолог назвала самый 
                    span полезный вариант завтрака

                time.news_item__time(datetime="2023-05-20T09:40") 20 мая 09:40

                .news_item__pic
                    +pictureSize('news/news_img', 'jpg', 'x2', 958, 580)
                
                .news_item__text
                    
                    p Дав обещание начать правильно питаться с первых дней нового года, 65% россиян сдались уже в конце января, следует из данных исследования, проведенного цифровым медицинским сервисом «Доктор рядом» (входит в портфель Veb Ventures) и агентством A2:Research. (есть у РБК).

                    p Исследователи опросили более 2,1 тыс. человек из всех регионов России. Большинство участников опроса (81%) — представители возрастной категории от 20 до 45 лет, респонденты старше 45 лет составляют 16%, меньше всех в опросе участвовало россиян моложе 20 лет — 3%.

                    p Всего обещание правильно питаться с началом этого года дали 72% россиян, а сдержали свое слово чуть больше трети — 35%. Пообещали начать не только правильно питаться, но и заниматься спортом 76% опрошенных.

                    p Основными причинами решения о правильном питании стали лишний вес (31%), проблемы с пищеварением (29%) и постоянное чувство усталости (22%). Среди причин, по которым каждому второму (65%) россиянину так и не удалось отказаться от вредных продуктов, выделились следующие: каждый третий (39%) слишком сильно привык к своему прежнему рациону, 14% признались, что слишком любят «вредные» продукты, чтобы отказаться от них так просто, а 12% назвали задачу слишком сложной.

                .news_item__gallery 
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_1.jpg")
                        +pictureSize('news/news_gallery_1', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_2.jpg")
                        +pictureSize('news/news_gallery_2', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_3.jpg")
                        +pictureSize('news/news_gallery_3', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_2.jpg")
                        +pictureSize('news/news_gallery_2', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_4.jpg")
                        +pictureSize('news/news_gallery_4', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_2.jpg")
                        +pictureSize('news/news_gallery_2', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_7.jpg")
                        +pictureSize('news/news_gallery_7', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_2.jpg")
                        +pictureSize('news/news_gallery_2', 'jpg', 'x2', 958, 580)
                    .news_item__item.modal-open(data-src="./images/news/news_gallery_4.jpg")
                        +pictureSize('news/news_gallery_4', 'jpg', 'x2', 958, 580)

                .news_item__text
                    
                    p Дав обещание начать правильно питаться с первых дней нового года, 65% россиян сдались уже в конце января, следует из данных исследования, проведенного цифровым медицинским сервисом «Доктор рядом» (входит в портфель Veb Ventures) и агентством A2:Research. (есть у РБК).

                    p Исследователи опросили более 2,1 тыс. человек из всех регионов России. Большинство участников опроса (81%) — представители возрастной категории от 20 до 45 лет, респонденты старше 45 лет составляют 16%, меньше всех в опросе участвовало россиян моложе 20 лет — 3%.

                    p Всего обещание правильно питаться с началом этого года дали 72% россиян, а сдержали свое слово чуть больше трети — 35%. Пообещали начать не только правильно питаться, но и заниматься спортом 76% опрошенных.

                    p Основными причинами решения о правильном питании стали лишний вес (31%), проблемы с пищеварением (29%) и постоянное чувство усталости (22%). Среди причин, по которым каждому второму (65%) россиянину так и не удалось отказаться от вредных продуктов, выделились следующие: каждый третий (39%) слишком сильно привык к своему прежнему рациону, 14% признались, что слишком любят «вредные» продукты, чтобы отказаться от них так просто, а 12% назвали задачу слишком сложной.


                .news_item__wrapper
                    .news_item__preview.video-preview
                        +pictureNew('cooking_process/cooking_process_preview', 'jpg', '', 1452, 1000, 750, 1452, 650, 'cooking_process__img')
                        button.news_item__btn.video-play-btn(type="button" aria-label="Начать показ видео")
                            svg(width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M40 25.7002V95.7002L95 60.7002L40 25.7002Z" fill="white")

                    .news_item__video.video-block(data-video="https://youtu.be/yzbzFO1kBCg")



                .news_item__text
                    
                    p Дав обещание начать правильно питаться с первых дней нового года, 65% россиян сдались уже в конце января, следует из данных исследования, проведенного цифровым медицинским сервисом «Доктор рядом» (входит в портфель Veb Ventures) и агентством A2:Research. (есть у РБК).

                    p Исследователи опросили более 2,1 тыс. человек из всех регионов России. Большинство участников опроса (81%) — представители возрастной категории от 20 до 45 лет, респонденты старше 45 лет составляют 16%, меньше всех в опросе участвовало россиян моложе 20 лет — 3%.

                    p Всего обещание правильно питаться с началом этого года дали 72% россиян, а сдержали свое слово чуть больше трети — 35%. Пообещали начать не только правильно питаться, но и заниматься спортом 76% опрошенных.

                    p Основными причинами решения о правильном питании стали лишний вес (31%), проблемы с пищеварением (29%) и постоянное чувство усталости (22%). Среди причин, по которым каждому второму (65%) россиянину так и не удалось отказаться от вредных продуктов, выделились следующие: каждый третий (39%) слишком сильно привык к своему прежнему рациону, 14% признались, что слишком любят «вредные» продукты, чтобы отказаться от них так просто, а 12% назвали задачу слишком сложной.


            ul.description__social 
                li.description__link
                    a(href="#" aria-label="Перейти на страницу вконтакте" target="_blank")
                        include ./blocks/icon_vk
                li.description__link
                    a(href="#" aria-label="Перейти в телеграм" target="_blank")
                        include ./blocks/icon_telegram
                li.description__link
                    a(href="#" aria-label="Перейти по ссылке" target="_blank")
                        include ./blocks/icon_link


    include ./blocks/fullscreen





    section.news_other
        .news_other__bg
            img(src="./images/news/news_bg.png" alt="")
        .nutrients__bg_3
            +pictureSize('nutrients/nutrients_bg_3', 'png', 'x2', 465, 325)


        .container
            h2.news_other__title.block__subtitle Прочие новости

            p.news_other__text Следите на новостями нашей компании потому что это интересно Lorem, ipsum dolor sit amet consectetur adipisicing elit.

            .news__wrapper

                -
                    var news_data = [
                        {
                            labelName: 'Десерт',
                            imgUrl: 'news/news_1'
                        },
                        {
                            labelClassName: 'label_blue',
                            imgUrl: 'news/news_2'
                        },
                        {
                            labelName: 'Десерт',
                            imgUrl: 'news/news_3'
                        }
                    ]

                .news__list

                    each item in news_data

                        article.recepies__item 
                            .news__pic
                                if item.labelName
                                    .news__label= item.labelName
                                +pictureSize(item.imgUrl, 'jpg', 'x2', 465, 325)

                            time.news__time(datetime="2023-05-20T09:40") 20 мая 09:40

                            h3.news__name Здоровый BATTLE" Наталья Зубарева VS Саша Зверева

                            p.news__text Не для кого не секрет, что наша компания ООО "Кубанские Хлебцы" со всей ответственностью подходит к своему делу гарантирует качество в каждой упаковке.

                            a.btn.news__show_more(href="#") Подробнее

                a.btn.news__all(href="#") Больше новостей



    include ./blocks/_feedback
