extends base/_layout
block vars
    - var pageName = 'partnership-page'
block head
    title Партнерство
block page

    section.partnership

        .partnership__bg_left
            +pictureSize('partnership/partnership_bg_left', 'png', 'x2', 409, 623)
        .partnership__bg_right
            +pictureSize('partnership/partnership_bg_right', 'png', 'x2', 362, 563)

        .container
            .partnership__container



                h1.partnership__title.intro_recipe__label.label_blue Партнерство

                p.partnership__subtitle
                    span Что надо знать для 
                    span #[span.line_bg партнерства] с нами?

                .partnership__descr 

                    p Мы уверены, что забота о планете, которая выражается в уменьшении нашего углеродного следа и компенсациях выбросов CO2, — это правильный выбор, соответствующий нашим основным ценностям: любви к природе, стремлению к прогрессу и продвижению здорового образа жизни для нынешних и будущих поколений. Мы измеряем и уменьшаем свой углеродный след от злаковых полей до полки магазина. Мы компенсируем до нуля оставшиеся выбросы, продвигая проекты по возобновляемым источникам энергии и сохранению тропических лесов в соответствии с международными стандартами. Бренд Wasa достиг полной углеродной компенсации за счет снижения и компенсации остаточных выбросов CO2 (углекислого газа)², которые напрямую связаны с изменениями климата на глобальном уровне.

                    p Изменение климата — это глобальная проблема: одна тонна углерода, выброшенная в одном месте, приводит к глобальному потеплению во всем мире.

                    p Основываясь на этом принципе, компенсация углерода (также называемая компенсацией CO2) позволяет нейтрализовать количество выбросов парниковых газов (ПГ, т. е. выбросов углерода) в одном месте путем уменьшения или улавливания эквивалентного количества выбросов ПГ в другом месте. Компенсация реализуется с помощью конкретных углеродных проектов, которые очень часто располагаются в развивающихся странах и финансируются компаниями, желающими компенсировать свои остаточные выбросы углерода.

                    p Эта поддержка принимает форму углеродных кредитов, при этом 1 кредит = 1 тонна изолированных или невыпущенных выбросов CO2.

                    p Например, солнечная батарея, производящая электроэнергию из возобновляемых источников вместо органических, помогает сократить выбросы парниковых газов на глобальном уровне. Количество выбросов парниковых газов, которых удалось избежать в рамках этого проекта, можно использовать для компенсации выбросов в результате деятельности, осуществляемой в другой стране. Финансирование этой системы зачетов обеспечивает долгое существование проекта солнечных батарей.


    section.contact_us
        .contact_us__bg
            img(src="./images/news/news_bg.png" alt="")
        .nutrients__bg_3
            +pictureSize('nutrients/nutrients_bg_3', 'png', 'x2', 465, 325)


        .container
            h2.contact_us__title.block__subtitle Обратная связь

            p.contact_us__text Оставьте свои данные - мы перезвоним и ответим на #[br]интересующие вас вопросы

            form.contact_us__form(action="#")

                fieldset.contact_us__fieldset

                    input.contact_us__input(type="text" name="user_name" placeholder="Ваше имя")

                    input.contact_us__input(type="text" name="user_phone" placeholder="Ваш телефон")

                    textarea.contact_us__textarea(name="user_message" placeholder="Сообщение" row="4")

                
                button.contact_us__submit.btn.btn_blue_dark(type="submit") Отправить данные

                p.contact_us__policy Отправляя данные я соглашаюсь с #[a(href="#" target="_blank") политикой конфиденциальности]



    include ./blocks/_feedback
