extends base/_layout
block vars
    - var pageName = 'recepies-page'
block head
    title Рецепты
block page

    section.intro_presentation
        .intro_presentation__bg
            +pictureNew('intro_recepies/recepies_intro_bg', 'jpg', '', 1920, 1450, 1000, 1920, 945, 'intro_presentation__pic_wide')
            +pictureNew('intro_recepies/recepies_intro_bg_mobile', 'jpg', '', 750, 600, 375, 700, 375, 'intro_presentation__pic_mobile')

        .intro_presentation__content
            .container.intro_presentation__container

                h1.intro_presentation__title.block__title Продукция

                p.intro_presentation__subtitle.block__subtitle
                    span Удивляйте себя #[span.line_bg каждый день]
                    span новыми вкусовыми сочетаниями!

                p.intro_presentation__subtitle_mobile.block__subtitle_mobile
                    span Удивляйте себя 
                    span #[span.line_bg новыми вкусовыми]
                    span сочетаниями! 

                p.intro_presentation__text Ищете больше рецептов? Мы поразим ваше воображение палитрой вкусов, которые помогут вам насладиться нашей продукцией  в полной мере.


    .recipes
        .container
            .recipes__wrapper
                .recepies__top
                    .recipes__buttons.hidescrollbar
                        button.recipes_btn.btn_label.btn_grey(type="button") Все
                        button.recipes_btn.btn_label.btn_blue(type="button") Классические
                        button.recipes_btn.btn_label.btn_green(type="button") Вегетарианские
                        button.recipes_btn.btn_label.btn_orange(type="button") Десертные

            -
                var recipes_data = [
                    {
                        labelClassName: 'label_green',
                        labelName: 'Вегетарианские',
                        imgUrl: 'recipes/recipes_1'
                    },
                    {
                        labelClassName: 'label_blue',
                        labelName: 'Классические',
                        imgUrl: 'recipes/recipes_2'
                    },
                    {
                        labelClassName: 'label_orange',
                        labelName: 'Десертные',
                        imgUrl: 'recipes/recipes_3'
                    },
                    {
                        labelClassName: 'label_orange',
                        labelName: 'Десертные',
                        imgUrl: 'recipes/recipes_3'
                    },
                    {
                        labelClassName: 'label_green',
                        labelName: 'Вегетарианские',
                        imgUrl: 'recipes/recipes_1'
                    },
                    {
                        labelClassName: 'label_blue',
                        labelName: 'Классические',
                        imgUrl: 'recipes/recipes_2'
                    },
                    {
                        labelClassName: 'label_green',
                        labelName: 'Вегетарианские',
                        imgUrl: 'recipes/recipes_1'
                    },
                    {
                        labelClassName: 'label_blue',
                        labelName: 'Классические',
                        imgUrl: 'recipes/recipes_2'
                    },
                    {
                        labelClassName: 'label_orange',
                        labelName: 'Десертные',
                        imgUrl: 'recipes/recipes_3'
                    }
                ]

            .recipes__list

                each item in recipes_data

                    article.recepies__item 
                        .recipes__pic 
                            .label.recipes__label(class= item.labelClassName)= item.labelName
                            +pictureSize(item.imgUrl, 'jpg', 'x2', 465, 325)

                        .recipes__info
                            .recipes__time 
                                .recipes__icon
                                    img(src="./images/time.svg" alt="" width="28" height="28")
                                span.recipes__value 20 минут
                            .recipes__level
                                .recipes__icon
                                    img(src="./images/hat.svg" alt="" width="28" height="28")
                                span.recipes__value Средняя сложность

                        h3.recipes__name Хлебцы с рикоттой, клубничным вареньем и клубникой

                        a.btn.recipes__show_more(href="#") Подробнее

            a.btn.recipes__all(href="#") Загрузить ещё



    include ./blocks/_feedback
