extends base/_layout
block vars
    - var pageName = 'recipe-item-page'
block head
    title Продукт
block page

    section.intro_recipe
        .intro_recipe__bg
            +pictureNew('intro_product/intro_product_bg', 'png', '', 1920, 1450, 1000, 1920, 945, 'intro_product')

        .container
            .intro_recipe__container

                p.intro_recipe__label.label_blue Классические

                h1.intro_recipe__title 
                    span Болтунья с томатами
                    span и грибами на завтрак

                .intro_recipe__info
                    .intro_recipe__time 
                        .intro_recipe__icon
                            img(src="./images/time.svg" alt="")
                        span.intro_recipe__value 20 минут
                    .intro_recipe__level
                        .intro_recipe__icon
                            img(src="./images/hat.svg" alt="")
                        span.intro_recipe__value Средняя сложность

        .intro_recipe__images

            .intro_recipe__images__wrapper
                .intro_recipe__img
                    +pictureSize('intro_product/product_wide_1', 'jpg', 'x2', 958, 580)
                .intro_recipe__img
                    +pictureSize('intro_product/product_wide_2', 'jpg', 'x2', 476, 580)


    .dish 
        .container 

            .dish__wrapper 

                .dish__ingredients
                    h3.dish__title Ингредиенты

                    ul.dish__nutrients_list
                        li.dish__nutrients_item
                            a(href="#" target="_blank"): span Хлебцы Фитнес линия
                            span 5 штук
                        li.dish__nutrients_item
                            span Грецкие орехи
                            span 100 г
                        li.dish__nutrients_item
                            span Козий сыр
                            span 300 г
                        li.dish__nutrients_item
                            span Груша
                            span 1 штука
                        li.dish__nutrients_item
                            span Мед
                            span 1 чайная ложка

                .dish__cooking
                    h3.dish__title Приготовление​

                    .dish__content

                        p.dish__descr Закуска из селедки со сливочным маслом готовится очень просто и быстро. А с помощью блендера, вы сможете приготовить пасту-намазку за считанные минуты. Селедочное масло - это отличный вариант для перекуса, завтрака и закуски на стол. В былые времена, селедочное масло продавали в отделе полуфабрикатов и мы иногда его покупали. Правда то масло, немного отличается от моего рецепта. Здесь больше масла, там селедки. На счет яиц, тоже сомневаюсь, были ли они там, а вот морковка, это уж точно была. Рецепт нашла на просторах интернета. Получилось очень вкусно, особенно с тонкими хрустящими хлебцами "Щедрые".

                        ul.dish__social
                            li.dish__social_item.description__link
                                a(href="#")
                                    include ./blocks/icon_vk
                            li.dish__social_item.description__link
                                a(href="#")
                                    include ./blocks/icon_telegram
                            li.dish__social_item.description__link
                                a(href="#")
                                    include ./blocks/icon_link


    section.cooking_process
        .cooking_process__bg
            img(src="./images/news/news_bg.png" alt="")
        .nutrients__bg_3
            +pictureSize('nutrients/nutrients_bg_3', 'png', 'x2', 465, 325)


        .container
            h2.cooking_process__title.block__subtitle Процесс приготовления

            p.cooking_process__text Ищете другие рецепты? Ваше воображение поразит палитра вкусов, которые помогут вам насладиться продуктами Wasa в полной мере.

            .cooking_process__wrapper
                .cooking_process__preview
                    +pictureNew('cooking_process/cooking_process_preview', 'jpg', '', 1452, 1000, 750, 1452, 650, 'cooking_process__img')
                    button.cooking_process__btn(type="button" aria-label="Начать показ видео")
                        svg(width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M40 25.7002V95.7002L95 60.7002L40 25.7002Z" fill="white")




    include ./blocks/_recepies-block







    include ./blocks/_feedback

