.feedback
    .container

        h2.feedback__title.block__title Обратная связь

        p.feedback__subtitle.block__subtitle Мы продолжаем удивлять

        p.feedback__descr.block__descr Мы постоянно продолжаем эксперементировать с новыми вкусами! От нас вы можете ждать самые неожиданные и в тоже время вкуснейшие сочетания вкусов.

        p.feedback__text По вопросам качества

        a.feedback__phone(href="tel:88612050512") 8 (861) 205-05-12

        p.feedback__text Время работы: 9:00-18:00

        button.btn.feedback__button(type="button") Обратная связь
