footer.footer
    .container.footer__container
        p.footer__copyright © 2024 ООО  "Кубанские хлебцы"
        a.footer__created_by(href="https://art6.ru/" target="_blank")
            img(src="./images/art6.svg" alt="ART6")
        a.footer__policy(href="#") Политика конфиденциальности
