section.where_to_buy
    .where_to_buy__bg
        img(src="./images/where_to_buy/where_to_buy_bg.png" alt="")


    .container

        h2.where_to_buy__title.block__title Где купить

        p.where_to_buy__subtitle.block__subtitle
            span Выбирайте, где вам 
            span #[span.line_bg удобно] покупать

        .where_to_buy__wrapper

            .where_to_buy__item 
                img(src="./images/where_to_buy/logo_1.svg" alt="Озон")

            .where_to_buy__item 
                img(src="./images/where_to_buy/logo_2.svg" alt="Пятёрочка")

            .where_to_buy__item 
                img(src="./images/where_to_buy/logo_3.svg" alt="Табрис")

            .where_to_buy__item 
                img(src="./images/where_to_buy/logo_4.png" alt="Окей")

            .where_to_buy__item 
                img(src="./images/where_to_buy/logo_5.png" alt="FixPrice")

            .where_to_buy__item 
                img(src="./images/where_to_buy/logo_6.png" alt="Светофор")
