.fullscreen
    .fullscreen__overlay.fullscreen-close
    .fullscreen__close.fullscreen-close
        include ./icon_close
    .fullscreen__container
        .fullscreen__wrapper
            .fullscreen__img
                img(src="" alt="")
