.cooking_process {
  position: relative;
  width: 100%;
  padding: 255px 0 255px;
  background-color: $color_brown_light;

  @include xl {
    padding: 200px 0;
  }

  @include lg {
    padding: 150px 0;
  }

  @include xs {
    padding: 114px 0 122px;
  }
}

.cooking_process__bg {
  position: absolute;
  top: -64px;
  left: 487px;
  left: 25.37%;
  z-index: 1;
  width: 15.83%;
  min-width: 280px;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include sm {
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1;
    width: 37%;
  }

  @include xs {
    min-width: unset;
  }
}

.cooking_process__title {
  font-size: 88px;
  margin-bottom: 34px;
  color: $color_brown;

  @include lg {
    font-size: 100px;
  }

  @include sm {
    font-size: 80px;
  }

  @include xs {
    display: block;
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 119%;
    text-align: center;
    color: $color_brown;
  }
}

.cooking_process__text {
  max-width: 720px;
  margin: 0 auto 78px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #35383f;

  @include xs {
    display: none;
  }
}

.cooking_process__wrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  min-height: 209px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 44.76%;
  }
}

.cooking_process__preview {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.cooking_process__btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 120px;
    height: 120px;
  }

  @include xs {
    svg {
      width: 60px;
      height: 60px;
    }
  }
}
