.description {
  margin-bottom: 116px;

  @include xs {
    margin-bottom: 102px;
  }
}

.description__title {
  margin-bottom: 33px;
  font-family: $font_title;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  text-align: center;
  color: $color_blue;

  @include xs {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 54px;
    line-height: 148%;
    text-align: center;
    color: #1f2c3d;
  }
}

.description__subtitle {
  max-width: 700px;
  margin: 0 auto 73px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #35383f;

  @include xs {
    margin: 0 auto 35px;
    font-size: 14px;
    line-height: 143%;
  }
}

.description__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
}

.description__link {
  width: 54px;
  height: 54px;
  background-color: #f5f6f9;
  border-radius: 5px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  svg {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  &:last-child {
    svg {
      width: 28px;
      height: 28px;
    }
  }

  path {
    transition: all 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      path {
        fill: $color_blue_hover;
      }
    }
  }
}
