.goods {
  padding: 151px 0 247px;

  @include lg {
    padding: 150px 0 150px;
  }

  @include xs {
    padding: 123px 0 0;
  }
}

.goods__top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @include xs {
    margin-bottom: 40px;
  }
}

.goods__filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 16px;
  overflow-x: auto;
  text-wrap: nowrap;
  padding-left: 40px;
  scroll-snap-type: x mandatory;

  @include sm {
    padding-left: 20px;
  }
}

.goods__btn {
  scroll-snap-align: start;

  &.btn_last_child {
    padding: 0;
    opacity: 0;
    pointer-events: none;
  }
}

.goods__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 97px 30px;
  margin-bottom: 82px;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
    margin-bottom: 50px;
  }

  @include xs {
    grid-template-columns: 1fr;
    gap: 35px 0;
    margin-bottom: 34px;
  }
}

.goods__pic {
  position: relative;
  margin-bottom: 16px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 70.04%;
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.goods__label {
  top: 18px;
  left: 20px;
  position: absolute;
  z-index: 2;
}

.goods__name {
  min-height: 120px;
  margin-bottom: 24px;
  font-family: $font_text_2;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #2e3034;

  @include lg {
    font-size: 28px;
  }

  @include xs {
    min-height: unset;
    font-size: 24px;
  }
}

.goods__more {
  width: max-content;
  padding: 15px 26px;
  color: #a4b0c3;
  background-color: #edf1f8;

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_blue;
    }
  }

  @include xxs {
    width: max-content;
  }
}
