.intro_presentation {
  position: relative;
  padding: 341px 0 250px;
  min-width: 320px;

  @include lg {
    padding: 120px 0 150px;
  }

  @include xs {
    min-height: 611px;
    padding: 180px 0 64px;
  }
}

.intro_presentation__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.intro_presentation__pic_wide,
.intro_presentation__pic_wide img,
.intro_presentation__pic_mobile,
.intro_presentation__pic_mobile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro_presentation__pic_wide {
  @include xs {
    display: none;
  }
}

.intro_presentation__pic_mobile {
  display: none;

  @include xs {
    display: block;
  }
}

.intro_presentation__title {
  margin-bottom: 30px;
  color: #b0ddf5;

  @include xs {
    margin-bottom: 19px;
    font-family: $font_text;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: #b0ddf5;
  }
}

.intro_presentation__subtitle {
  margin-bottom: 25px;
  line-height: 1;
  color: #198cca;

  & > span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-child {
      position: relative;
    }
  }

  @include xs {
    display: none;
  }
}

.intro_presentation__subtitle_mobile {
  display: none;

  @include xs {
    display: block;
    margin-bottom: 20px;
    font-family: $font_title;
    font-weight: 400;
    font-size: 36px;
    line-height: 122%;
    text-align: center;
    color: #198cca;

    & > span {
      position: relative;
      z-index: 2;
      display: inline-block;
      width: 100%;
    }
  }
}

.intro_presentation__text {
  max-width: 720px;
  margin: 0 auto;
  line-height: 1.4;
  font-family: $font_text;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #35383f;

  @include xs {
    max-width: 550px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #35383f;
  }
}

// recepies page

.recepies-page {
  .intro_presentation {
    padding: 341px 0 268px;

    @include lg {
      padding: 120px 0 150px;
    }

    @include xs {
      min-height: 611px;
      padding: 180px 0 64px;
    }
  }
  .intro_presentation__title {
    color: #6daed1;
  }
}
