.news {
  position: relative;
  width: 100%;
  padding: 255px 0 250px;
  background-color: $color_brown_light;

  @include xl {
    padding: 200px 0;
  }

  @include lg {
    padding: 150px 0;
  }

  @include xs {
    padding: 81px 0 62px;
  }
}

.news__bg {
  position: absolute;
  top: -64px;
  left: 487px;
  left: 25.37%;
  z-index: 1;
  width: 15.83%;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include xs {
    display: none;
  }
}

.news__title {
  font-size: 120px;
  margin-bottom: 57px;
  color: $color_brown;

  @include lg {
    font-size: 100px;
  }

  @include sm {
    font-size: 80px;
  }

  @include xs {
    display: block;
    margin-bottom: 25px;
    color: $color_brown;

    font-size: 54px;
    line-height: 148%;
  }
}

.news__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 32px;

  @include xs {
    display: none;
  }
}

.news__btn {
  padding: 8px 18px;
  font-family: $font_text;
  font-weight: 500;
  font-size: 18px;
  color: $color_brown;
  border: 2px solid $color_brown_btn;
  border-radius: 80px;
  transition: background-color 0.2s ease-out;

  &.active {
    background-color: $color_brown_btn;
  }
}

.news__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 29px;
  margin-bottom: 83px;

  @include xs {
    grid-template-columns: 1fr;
    margin-bottom: 29px;
  }
}

.recepies__item {
  &:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  &:nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 9;
  }

  &:nth-child(3) {
    grid-column-start: 9;
    grid-column-end: 13;
  }

  @include lg {
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 7;
    }

    &:nth-child(2) {
      grid-column-start: 7;
      grid-column-end: 13;
    }

    &:nth-child(3) {
      grid-column-start: 4;
      grid-column-end: 10;
    }
  }

  @include xs {
    &:nth-child(n) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.news__pic {
  position: relative;
  margin-bottom: 28px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 69.89%;
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include xs {
    margin-bottom: 19px;
  }
}

.news__label {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  padding: 8px 15px;
  font-family: $font_text;
  font-weight: 500;
  font-size: 14px;
  color: #6f6f6f;
  background-color: $color_white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 80px;
  white-space: nowrap;
}

.news__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 50px;
  margin-bottom: 15px;

  @include xs {
    gap: 0 32px;
  }
}

.news__time {
  display: block;
  margin-bottom: 20px;

  @include xs {
    margin-bottom: 18px;
    font-size: 14px;
  }
}

.news__name {
  margin-bottom: 17px;
  font-family: $font_text_2;
  font-weight: 600;
  font-size: 26px;
  line-height: 131%;
  color: #2e3034;

  @include xs {
    margin-bottom: 24px;
    font-size: 20px;
  }
}

.news__text {
  position: relative;
  margin-bottom: 22px;
  font-family: $font_text;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #494d56;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(0deg, #fdf7f2 0%, rgba(252, 244, 238, 0) 100%);
  }

  @include xs {
    display: none;
  }
}

.news__show_more {
  width: max-content;
  padding: 15px 26px;
  color: #dd9d70;
  background-color: #ffe2cd;

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_brown;
    }
  }

  @include xxs {
    width: max-content;
  }
}

.news__all {
  width: max-content;
  margin: 0 auto;
  background-color: $color_brown;
  border: 2px solid $color_brown;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: $color_brown;
      // background-color: $color_brown_btn;
      background-color: $color_white;
    }
  }

  @include xs {
    width: 100%;
  }
}
