.production {
  padding: 241px 0 250px;
  background: url("../images/production/production_bg.png") top right / 39.84%
    auto no-repeat;

  @include xl {
    padding: 200px 0;
  }

  @include lg {
    padding: 150px 0;
  }

  @include xs {
    padding: 105px 0 80px;
    background: unset;
  }
}

.production__title {
  margin-bottom: 37px;
  color: $color_grey_light_2;

  @include xs {
    margin-bottom: 27px;
    color: $color_blue;
  }
}

.production__subtitle {
  position: relative;
  margin-bottom: 37px;
  color: $color_blue;

  & > span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-child {
      position: relative;
    }
  }
}

.production__descr {
  max-width: 720px;
  margin: 0 auto 92px;
  color: $color_grey;
}

.production__wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 21px 30px;
  flex-wrap: wrap;

  @include xs {
    display: block;
    margin-bottom: 33px;
  }
}

.production__item {
  position: relative;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;

  @include xs {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  picture,
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.production__item1,
.production__item2,
.production__item3 {
  flex: 1 1 31%;
}

.production__item4,
.production__item5,
.production__item6,
.production__item7 {
  flex: 1 1 23%;
}

@include lg {
  .production__item1,
  .production__item2,
  .production__item3,
  .production__item4,
  .production__item5,
  .production__item6 {
    flex: 1 1 47%;
  }

  .production__item7 {
    flex: 0 1 47%;
  }
}

@include xs {
  .production__item {
    flex: unset;
  }
}

@include xxs {
  .production__item {
    height: 289px;
  }
}

.production__name {
  position: absolute;
  top: 23px;
  left: 21px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  font-family: $font_title;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: $color_white;

  span {
    padding: 0 12px;

    &:first-child {
      padding-top: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      padding-top: 8px;
      padding-bottom: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      transform: translateY(-8px);

      @include xxs {
        width: min-content;
      }
    }

    &:not(:last-child) {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: 20px;
        height: 38px;
        border-radius: 5px;
      }
    }
  }
}

@mixin production-item-bg($color) {
  .production__name {
    span {
      background-color: $color;

      &:not(:last-child) {
        &::after {
          box-shadow: -5px 5px 0px 0px $color;
        }
      }
    }
  }
}

.production__item1 {
  @include production-item-bg(#aa0080);
}

.production__item2 {
  @include production-item-bg(#00b362);
}

.production__item3 {
  @include production-item-bg(#5c50e1);
}

.production__item4 {
  @include production-item-bg(#c8353f);
}

.production__item5 {
  @include production-item-bg(#00a3ff);
}

.production__item6 {
  @include production-item-bg(#ea5c1a);
}

.production__item7 {
  @include production-item-bg(#00417d);
}

.production__show_more {
  display: none;

  @include xs {
    display: flex;
    margin: 0 auto;
    background-color: $color_blue;

    @media (hover: hover) {
      &:hover {
        background-color: $color_blue_hover;
      }
    }
  }
}
