.recipes {
  margin-bottom: 200px;
  padding: 188px 0 0;

  @include lg {
    margin-bottom: 150px;
    padding: 120px 0 0;
  }

  @include xs {
    margin-bottom: 64px;
    padding: 103px 0 0;
  }
}

.recipes__title {
  margin-bottom: 37px;
  color: $color_grey_light_2;

  @include xs {
    margin-bottom: 27px;
    color: #1f2c3d;
  }
}

.recipes__subtitle {
  position: relative;
  margin-bottom: 37px;
  color: $color_blue;

  & > span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-child {
      position: relative;
    }
  }
}

.recipes__descr {
  max-width: 720px;
  margin: 0 auto 83px;
  color: $color_grey;
}

.recipes__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 31px;

  @include xs {
    display: none;
  }
}

.recipes__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 29px;
  margin-bottom: 84px;

  @include xs {
    grid-template-columns: 1fr;
    margin-bottom: 36px;
  }
}

.recepies__item {
  &:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  &:nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 9;
  }

  &:nth-child(3) {
    grid-column-start: 9;
    grid-column-end: 13;
  }

  @include lg {
    &:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 7;
    }

    &:nth-child(2) {
      grid-column-start: 7;
      grid-column-end: 13;
    }

    &:nth-child(3) {
      grid-column-start: 4;
      grid-column-end: 10;
    }
  }

  @include xs {
    &:nth-child(n) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.recipes__pic {
  position: relative;
  margin-bottom: 24px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 69.89%;
  }

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include xs {
    margin-bottom: 19px;
  }
}

.recipes__label {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.recipes__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 50px;
  margin-bottom: 15px;

  @include xs {
    gap: 0 32px;
  }
}

.recipes__time,
.recipes__level {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 16px;
}

.recipes__icon {
  display: inline-block;
  width: 28px;
  height: 28px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include lg {
    width: 24px;
    height: 24px;
  }
}

.recipes__value {
  font-family: $font_text;
  font-weight: 500;
  font-size: 16px;
  color: #787e86;

  @include lg {
    font-size: 14px;
  }
}

.recipes__name {
  margin-bottom: 24px;
  font-family: $font_text_2;
  font-weight: 600;
  font-size: 26px;
  line-height: 131%;
  color: #2e3034;

  @include xs {
    font-size: 20px;
  }
}

.recipes__show_more {
  width: max-content;
  padding: 15px 26px;
  color: #a4b0c3;
  background-color: #edf1f8;

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_blue;
    }
  }

  @include xxs {
    width: max-content;
  }
}

.recipes__all {
  width: max-content;
  margin: 0 auto;
  background-color: $color_blue;
  border: 2px solid $color_blue;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      // background-color: $color_blue_hover;
      color: $color_blue;
      background-color: $color_white;
    }
  }

  @include xs {
    width: 100%;
  }
}

// product page

.product-page {
  .recipes {
    margin-bottom: 230px;
  }
}

// recepies page
.recepies-page {
  .recipes {
    margin-bottom: 247px;
    padding: 155px 0 0;

    @include lg {
      margin-bottom: 150px;
    }

    @include xs {
      margin-bottom: 64px;
      padding-top: 121px;
    }
  }

  .recipes__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 29px;
    margin-bottom: 84px;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xs {
      grid-template-columns: 1fr;
      gap: 33px 29px;
      margin-bottom: 36px;
    }
  }

  .recepies__item {
    &:nth-child(n) {
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }

  .recepies__top {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 30px;

    // @include xs {
    //   margin-bottom: 40px;
    // }
  }

  .recipes__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 31px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @include xs {
      display: flex;
      margin-right: -20px;
      margin-bottom: 35px;

      &::after {
        content: "|";
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .recipes_btn {
    scroll-snap-align: start;
  }
}
