.where_to_buy {
  position: relative;
  width: 100%;
  padding: 235px 0 250px;

  @include xl {
    padding: 200px 0;
  }

  @include lg {
    padding: 150px 0;
  }

  @include xs {
    padding: 123px 0 80px;
    background: unset;
  }
}

.where_to_buy__bg {
  position: absolute;
  top: -290px;
  right: 0;
  z-index: -1;
  width: 39.84%;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include xs {
    display: none;
  }
}

.where_to_buy__title {
  margin-bottom: 44px;
  color: $color_grey_light_2;

  @include xs {
    margin-bottom: 27px;
    color: $color_blue;
  }
}

.where_to_buy__subtitle {
  position: relative;
  margin-bottom: 48px;
  color: $color_blue;

  & > span {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-child {
      position: relative;
    }
  }
}

.where_to_buy__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px 30px;
  overflow: hidden;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xs {
    grid-template-columns: 1fr;
  }
}

.where_to_buy__item {
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:nth-child(1),
  &:nth-child(2) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -16px;
      z-index: 1;
      height: 300%;
      width: 2px;
      background-color: $color_grey_light_3;
      pointer-events: none;
    }
  }

  &:nth-child(3n + 1) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 400%;
      height: 2px;
      background-color: $color_grey_light_3;
      pointer-events: none;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3) {
    position: unset;

    &::before {
      display: none;
    }
  }

  @include lg {
    &:nth-child(2) {
      position: unset;

      &::after {
        display: none;
      }
    }

    &:nth-child(3n + 1) {
      position: unset;

      &::before {
        display: none;
      }
    }

    &:nth-child(2n + 1) {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        width: 300%;
        height: 2px;
        background-color: $color_grey_light_3;
        pointer-events: none;
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      position: unset;

      &::before {
        display: none;
      }
    }
  }

  @include xs {
    &:not(:last-child) {
      border-bottom: 2px solid $color_grey_light_3;
    }

    &:nth-child(n) {
      position: unset;

      &::after,
      &::before {
        display: none;
      }
    }
  }
}

// company-page

.company-page {
  .where_to_buy {
    padding: 31px 0 170px;

    @include xs {
      padding: 31px 0 73px;
    }
  }
}
