/* noto-sans - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v35-cyrillic_latin-regular.woff2")
      format("woff2"),
    url("../fonts/noto-sans-v35-cyrillic_latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-v35-cyrillic_latin-500.woff2") format("woff2"),
    url("../fonts/noto-sans-v35-cyrillic_latin-500.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/noto-sans-v35-cyrillic_latin-600.woff2") format("woff2"),
    url("../fonts/noto-sans-v35-cyrillic_latin-600.ttf") format("truetype");
}

/* neucha-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/neucha-v17-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/neucha-v17-cyrillic_latin-regular.ttf") format("truetype");
}

/* Mustica Pro - cyrillic_latin */
@font-face {
  font-family: "Mustica Pro";
  src: url("../fonts/MusticaPro-SemiBold.woff2") format("woff2"),
    url("../fonts/MusticaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
