// colors
$color_white: #fff;
$color_black: #000;
$color_grey: #35383f;
$color_blue: #002f6c;

// fonts
$font_text: "Noto Sans", sans-serif;
$font_title: "Neucha", sans-serif;
$font_text_2: "Mustica Pro", sans-serif;

//   :root {
//   --font-family: "Noto Sans", sans-serif;
//   --second-family: "Neucha", sans-serif;
//   --third-family: "Mustica Pro", sans-serif;
// }
