.block__title {
  font-family: $font_text;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;

  @include xs {
    font-family: $font_title;
    font-weight: 400;
    font-size: 54px;
    line-height: 148%;
  }
}

.block__subtitle {
  font-family: $font_title;
  font-weight: 400;
  font-size: 88px;
  line-height: 91%;
  text-align: center;

  @include xl {
    font-size: 74px;
  }

  @include lg {
    font-size: 60px;
  }

  @include xs {
    display: none;
  }

  .line_bg {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 12px;
      z-index: -1;
      height: 24px;
      border-radius: 5px;
      background-color: $color_puprple_light;
    }
  }
}

.block__subtitle_mobile {
  .line_bg {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 15px;
      z-index: -1;
      height: 11px;
      border-radius: 5px;
      background-color: $color_puprple_light;
    }
  }
}

.block__descr {
  font-family: $font_text;
  font-weight: 500;
  font-size: 18px;
  text-align: center;

  @include xl {
    font-size: 16px;
  }

  @include lg {
    font-size: 14px;
  }

  @include xs {
    display: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-family: $font_text;
  font-weight: 500;
  font-size: 18px;
  color: $color_white;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;

  span {
    &:last-child {
      display: none;
    }

    @include xs {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline;
      }
    }
  }

  @include xxs {
    width: 100%;
    padding: 17px 30px;
  }
}

// btn label
.btn_label {
  padding: 7px 18px 9px;
  font-family: $font_text;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  color: $color_white;
  border-radius: 80px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.btn_blue {
  background-color: #22b7f5;

  @media (hover: hover) {
    &:hover {
      color: #22b7f5;
      background-color: #d5f1fd;
    }
  }
}

.btn_green {
  background-color: #73a24a;

  @media (hover: hover) {
    &:hover {
      color: #73a24a;
      background-color: #d9eec9;
    }
  }
}

.btn_orange {
  background-color: #f79b2f;

  @media (hover: hover) {
    &:hover {
      color: #f79b2f;
      background-color: #ffedd7;
    }
  }
}

.btn_grey {
  color: #002f6c;
  background-color: #ebeef3;

  @media (hover: hover) {
    &:hover {
      color: $color_grey;
      background-color: $color_grey_light;
    }
  }
}

.btn_cherry {
  background-color: #aa0080;

  @media (hover: hover) {
    &:hover {
      color: #aa0080;
      background-color: #efcfe7;
    }
  }
}

.btn_green_light {
  background-color: #00b362;

  @media (hover: hover) {
    &:hover {
      color: #00b362;
      background-color: #d0f8e5;
    }
  }
}

.btn_violet {
  background-color: #5c50e1;

  @media (hover: hover) {
    &:hover {
      color: #5c50e1;
      background-color: #e3e1fc;
    }
  }
}

.btn_green_deep {
  background-color: #307a2f;

  @media (hover: hover) {
    &:hover {
      color: #307a2f;
      background-color: #ddf2db;
    }
  }
}

.btn_red_carrot {
  background-color: #c8353f;

  @media (hover: hover) {
    &:hover {
      color: #c8353f;
      background-color: #f1d1d3;
    }
  }
}

.btn_carrot {
  background-color: #ea5c1a;

  @media (hover: hover) {
    &:hover {
      color: #ea5c1a;
      background-color: #fbe0d3;
    }
  }
}

.btn_blue_dark {
  background-color: #00417d;

  @media (hover: hover) {
    &:hover {
      color: #00417d;
      background-color: #dfebf6;
    }
  }
}

// label

.label {
  padding: 10px 10px;
  font-family: $font_text;
  font-weight: 500;
  font-size: 14px;
  color: $color_white;
  border-radius: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  white-space: nowrap;
}

.label_blue {
  background-color: #22b7f5;
}

.label_green {
  background-color: #73a24a;
}

.label_orange {
  background-color: #f79b2f;
}

.label_cherry {
  background-color: #aa0080;
}

.label_green_light {
  background-color: #00b362;
}

.label_violet {
  background-color: #5c50e1;
}

.label_green_deep {
  background-color: #307a2f;
}

.lable_red_carrot {
  background-color: #c8353f;
}

.label_carrot {
  background-color: #ea5c1a;
}

.label_blue_dark {
  background-color: #00417d;
}

.block_overflow_x {
  overflow-x: hidden;
}

.hidescrollbar {
  // hide scrollbar in Firefox
  scrollbar-width: none;

  // hide scrollbar in Chrome, Safari
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0;
    height: 0;
  }
}
